@font-face {
  font-family: ConcourseBlack;
  src: url("/fonts/concourse/concourse_t8_regular.woff2") format("woff2"), url("/fonts/concourse/concourse_t8_regular.woff") format("woff"); }

@font-face {
  font-family: ConcourseLight;
  src: url("/fonts/concourse/concourse_t2_regular.woff2") format("woff2"), url("/fonts/concourse/concourse_t2_regular.woff") format("woff"); }

@font-face {
  font-family: ConcourseLight;
  src: url("/fonts/concourse/concourse_t2_italic.woff2") format("woff2"), url("/fonts/concourse/concourse_t2_italic.woff") format("woff");
  font-style: italic; }

@font-face {
  font-family: Concourse;
  src: url("/fonts/concourse/concourse_t4_regular.woff2") format("woff2"), url("/fonts/concourse/concourse_t4_regular.woff") format("woff"); }

@font-face {
  font-family: Concourse;
  src: url("/fonts/concourse/concourse_t4_bold.woff2") format("woff2"), url("/fonts/concourse/concourse_t4_bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: Concourse;
  src: url("/fonts/concourse/concourse_t4_italic.woff2") format("woff2"), url("/fonts/concourse/concourse_t4_italic.woff") format("woff");
  font-style: italic; }

@font-face {
  font-family: Concourse;
  src: url("/fonts/concourse/concourse_t4_bold_italic.woff2") format("woff2"), url("/fonts/concourse/concourse_t4_bold_italic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/

/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
/* I remove rules as they are set/overriden in other stylesheets */
/* Document
   ========================================================================== */
/**
 * Use a more readable tab size (opinionated).
 */
:root {
  -moz-tab-size: 4;
  tab-size: 4; }

/**
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
 */
legend {
  padding: 0; }

/**
 * Add the correct vertical alignment in Chrome and Firefox.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Chrome and Safari.
 */
summary {
  display: list-item; }

/* *, @viewport, ::selection */

/* form, fieldset, legend, label, input, button, select, optgroup, option, 
  datalist, textarea, output */

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */
/* hgroup, h1, h2, h3, h4, h5, h6 */
h1,
h2 {
  font-family: ConcourseLight, Concourse, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

h1, .h1 {
  font-size: 50.88863px;
  font-size: 2.82715rem;
  /*previously 2.8333333rem;*/
  line-height: 3.8333333rem;
  margin-top: 1.2777778rem;
  margin-bottom: 2.5555556rem; }

h2, .h2 {
  font-size: 35.98913px;
  font-size: 1.9994rem;
  /*previously 2rem;*/
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 1.2777778rem; }

h3, .h3 {
  font-size: 25.452px;
  font-size: 1.414rem;
  /*previously 1.3888889rem;*/
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0; }

h4, .h4 {
  font-size: 25.452px;
  font-size: 1.414rem; }

h5, .h5,
h6, .h6 {
  font-size: 18px;
  font-size: 1rem;
  /*18px, 1rem*/
  line-height: 1.2777778rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0; }

/* ul, ol, li, dl, dt, dd, menu, menuitem */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0; }

/* canvas, object, embed, img, audio, video, track, map, area, iframe */

/* hr */
hr {
  border: 1px solid;
  margin: -1px 0; }

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */
/* a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span */
a,
strong,
em,
b,
i,
small,
code {
  line-height: 0; }

a {
  color: black; }

sup,
sub {
  font-size: 16.002px;
  font-size: 0.889rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: 16.002px;
  font-size: 0.889rem; }

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */
/* html, body, header, footer, nav, main, article, aside, section, p, pre,
blockquote, figure, figcaption, address, summary, details, div */
html,
.root {
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
  /*previously 18px*/
  line-height: 23px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body,
.article {
  /**
     * Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
     */
  font-family: Concourse, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  font-size: 1rem;
  /*previously 1rem*/
  line-height: 1.2777778rem;
  /*max-width: 560px;
    margin: auto;*/ }

p,
pre,
blockquote,
ul,
ol,
table {
  margin-top: 0;
  margin-bottom: 1.2777778rem; }

/*  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td */

/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 8:9 Major Second */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */
.site-footer {
  color: white; }
  .site-footer a {
    color: white;
    text-decoration: none; }

.site-footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 10vw;
  margin-top: 2rem; }
  .site-footer .footer-nav {
    display: flex;
    flex-basis: 90%;
    justify-content: space-around;
    justify-content: space-evenly;
    padding-left: 0; }
  .site-footer .footer-nav li {
    list-style-type: none; }
  .site-footer .cc-logo {
    flex-basis: 10%; }

.site-header {
  display: flex;
  align-items: center; }
  .site-header .site-logo-link {
    height: 10vh;
    margin-left: 2vw;
    z-index: 1; }
  .site-header .site-logo {
    height: 10vh;
    width: 10vh; }
  .site-header .site-header-block {
    background: black;
    height: 12vh;
    margin-left: -4vh;
    width: 100%; }
  .site-header .site-header-circle {
    background-color: white;
    height: 12vh;
    overflow: hidden;
    position: absolute;
    width: 11vw; }
  .site-header .site-header-circle:after {
    border: 5vh solid black;
    border-radius: 11vh;
    box-sizing: content-box;
    content: "";
    height: 12vh;
    left: -12.5vh;
    position: absolute;
    top: -5vh;
    width: 12.5vh; }
  .site-header .site-header-block nav {
    color: white;
    height: 100%;
    margin-left: 9vw;
    padding-left: 9vw;
    display: flex;
    align-items: center; }
  .site-header .site-header-block a {
    color: white; }
  .site-header .site-header-block .site-title {
    flex-grow: 2;
    font-family: ConcourseBlack;
    font-size: 3.5rem; }
  .site-header .site-header-block .footer-nav-link {
    flex-grow: 1; }