@import "variables.scss";

@function pow($number, $exponent) {
    $value: 1;

    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }

    @return $value;
}

@function calcFontSizeRem($scale, $number) {
    @if $number == -1 {
        @return $mobile-font-size-small-scale;
    }
    @return pow($scale, $number);
}

@function calcFontSizePx($base, $scale, $number) {
    @return $base * calcFontSizeRem($scale, $number);
}

@function calcLineHeightRem($scale, $number) {
    $line-height: 0;
    $font-size: calcFontSizeRem($scale, $number);

    @while $line-height < $font-size {
        $line-height: $line-height + $mobile-line-height;
    }
    
    @return $line-height;
}

@function calcLineHeightPx($base, $scale, $number) {
    @return $base * calcLineHeightRem($scale, $number);
}