@import "../01-Base/mixins.scss";

/* a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span */
a,
strong, 
em,
b,
i, 
small, 
code {
    line-height: 0;
}

a {
    color: black;
}

sup,
sub {
    @include font-size(0); /*previously 75%;*/
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}