/*  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td */
table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    -webkit-font-feature-settings: 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum', 'zero';
       -moz-font-feature-settings: 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum', 'zero';
            font-feature-settings: 'kern' 0, 'liga', 'lnum', 'onum' 0, 'pnum' 0, 'tnum', 'zero';
}

table .numeric-column {
    text-align: right;
}

caption {
    font-family: 'Concourse C4', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

thead,
tfoot {
    -webkit-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
       -moz-font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
            font-feature-settings: 'dlig' 0, 'kern', 'liga', 'lnum' 0, 'onum', 'pnum', 'tnum' 0;
}

tr {
    padding-bottom: 0;
}

td,
th {
    line-height: 1;
    padding: 0.125em 0.5em 0.25em 0.5em;
}

th {
    font-family: 'Concourse C4'; /* todo: correct font? */
}

th.oblique-heading {
    transform: translate(2.58em,-2em) rotate(-60deg);
    transform-origin: bottom left;
    position: absolute;
}

@media (max-width: 25em) {
    table,
    caption,
    tbody,
    tr,
    th,
    td {
        display: block;
        text-align: left;
    }

    tr {
        padding-bottom: 1em;
    }

    thead,
    th:empty,
    td:empty {
        display: none;
        visibility: hidden;
    }

    th[data-title]:before,
    td[data-title]:before {
        content: attr(data-title) ": ";
        display: inline-block;
        width: 3.5em;
    }
}