body {
    margin: 0;
}

.site-header {
    display: flex;
    align-items: center;
}

.site-logo-link {
    margin-left: 2vw;
    z-index: 1;
}

.site-logo {
    height: 10vh;
    width: 10vh;
}

.site-header-block {
    background: black;
    height: 12vh;
    margin-left: -4vh;
    width: 100%;
}

.site-header-circle {
    background-color: white;
    height: 12vh;
    overflow: hidden;
    position: absolute;
    width: 11vw;
}

.site-header-circle:after {
    border: 5vh solid black;
    border-radius: 11vh;
    content: "";
    height: 12vh;
    left: -12.5vh;
    position: absolute;
    top: -5vh;
    width: 12.5vh;
}

.site-header-block nav {
    color: white;
    height: 100%;
    margin-left: 11vw;
    padding-left: 11vw;
    display: flex;
    align-items: center;
}

.site-header-block a {
    color: white;
}

.site-header-block .site-title {
    flex-grow: 2;
}

.site-header-block .footer-nav-link {
    flex-grow: 1;
}
