@import '../01-Base/mixins.scss';

.site-footer {
    @extend %light-text;

    display: flex;
    align-items: center;
    background-color: black;
    height: 10vw;
    margin-top: 2rem;

    .footer-nav {
        display: flex;
        flex-basis: 90%;
        justify-content: space-around;
        justify-content: space-evenly;
        padding-left: 0;
    }

    .footer-nav li {
        list-style-type: none;
    }

    .cc-logo {
        flex-basis: 10%;
    }
}