.site-header {
    $logo-size: 10vh;
    $site-nav-height: 12vh;

    display: flex;
    align-items: center;

    .site-logo-link {
        margin-left: 2vw;
        z-index: 1;
    }

    .site-logo {
        height: $logo-size;
        width: $logo-size;
    }

    .site-header-block {
        background: black;
        height: $site-nav-height;
        margin-left: -4vh;
        width: 100%;
    }

    .site-header-circle {
        background-color: white;
        height: $site-nav-height;
        overflow: hidden;
        position: absolute;
        width: 11vw;
    }

    .site-header-circle:after {
        border: 5vh solid black;
        border-radius: 11vh;
        box-sizing: content-box;
        content: "";
        height: $site-nav-height;
        left: -12.5vh;
        position: absolute;
        top: -5vh;
        width: 12.5vh;
    }

    .site-header-block nav {
        color: white;
        height: 100%;
        margin-left: 11vw;
        padding-left: 11vw;
        display: flex;
        align-items: center;
    }

    .site-header-block a {
        color: white;
    }

    .site-header-block .site-title {
        flex-grow: 2;
    }

    .site-header-block .footer-nav-link {
        flex-grow: 1;
    }
}
