.site-header {
    $site-nav-height: 12vh;

    display: flex;
    align-items: center;

    .site-logo-link {
        margin-left: 0.5em;
    }

    .site-logo {
        height: $site-nav-height;
    }

    .site-header-block {
        background: black;
        height: $site-nav-height;
        width: 100%;

        nav {
            color: white;
            height: 100%;
            margin-left: 1vw;
            display: flex;
            align-items: center;
        }

        a {
            color: white;
        }

        .site-title {
            flex-grow: 2;
            font-family: ConcourseBlack;
            font-size: 7.5vh;
        }

        .footer-nav-link {
            flex-grow: 1;
        }
    }
}
