@charset "UTF-8";
/* 1:√2 – Augmented fourth / Diminished fifth */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 1:√2 – Augmented fourth / Diminished fifth */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */
/* hgroup, h1, h2, h3, h4, h5, h6 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-variant-numeric: lining-nums; }

h1, .h1,
h2, .h2,
h4, .h4 {
  font-family: ConcourseLight, Concourse, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; }

h1, .h1 {
  font-size: 50.88863px;
  font-size: 2.82715rem;
  line-height: 70.2px;
  line-height: 3.9rem;
  margin-top: 58.5px;
  margin-top: 3.25rem;
  margin-bottom: 11.7px;
  margin-bottom: 0.65rem;
  letter-spacing: -0.03em; }

h2, .h2 {
  font-size: 35.98913px;
  font-size: 1.9994rem;
  line-height: 46.8px;
  line-height: 2.6rem;
  margin-top: 35.1px;
  margin-top: 1.95rem;
  margin-bottom: 11.7px;
  margin-bottom: 0.65rem; }

h3, .h3,
h4, .h4 {
  font-size: 25.452px;
  font-size: 1.414rem;
  line-height: 46.8px;
  line-height: 2.6rem;
  margin-bottom: 0px;
  margin-bottom: 0rem; }

h5, .h5,
h6, .h6 {
  font-size: 18px;
  font-size: 1rem;
  line-height: 23.4px;
  line-height: 1.3rem;
  margin-bottom: 0px;
  margin-bottom: 0rem; }

h1 + * {
  margin-top: 0px;
  margin-top: 0rem; }
