@charset "UTF-8";
/* 1:√2 – Augmented fourth / Diminished fifth */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* 1:√2 – Augmented fourth / Diminished fifth */
/*
$root: ( fontSize: 18px, lineHeight: 23px );
$scale0: ( fontSize: 1rem, line: 1.2777778rem
$scale1: ( fontSize: 1.3888889rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale2: ( fontSize: 2rem, line: 1.2777778rem, autoLineCount: 2, autoLineHeight: 2.5555556rem );
$scale3: ( fontSize: 2.8333333rem, line: 1.2777778rem, autoLineCount: 3, autoLineHeight: 3.8333333rem );
$scale4: ( fontSize: 4rem, line: 1.2777778rem, autoLineCount: 4, autoLineHeight: 5.1111111rem );
$scale5: ( fontSize: 5.6666667rem, line: 1.2777778rem, autoLineCount: 5, autoLineHeight: 6.3888889rem );
$scale6: ( fontSize: 8rem, line: 1.2777778rem, autoLineCount: 7, autoLineHeight: 8.9444444rem );
$scale7: ( fontSize: 11.2777778rem, line: 1.2777778rem, autoLineCount: 9, autoLineHeight: 11.5rem );
$scale8: ( fontSize: 16rem, line: 1.2777778rem, autoLineCount: 13, autoLineHeight: 16.6111111rem );*/
/* Extend */
/* a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span */
a,
strong,
em,
b,
i,
small,
code {
  line-height: 0; }

/* todo: https://codepen.io/ghepting/pen/tLnHK/ */
a {
  color: black; }

/* todo: practical typography p123  */
sup,
sub {
  font-size: 16.002px;
  font-size: 0.889rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: 16.002px;
  font-size: 0.889rem;
  line-height: 23.4px;
  line-height: 1.3rem; }

abbr,
.proper-name {
  -ms-hyphens: manual;
  -webkit-hyphens: manual;
  hyphens: manual; }

/* don't use in title-case headings */
abbr.smallcaps {
  font-family: 'Concourse C4';
  /* todo: correct font? */
  text-transform: lowercase;
  /* todo: or uppercase? */ }

code {
  font-family: FiraMono, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px; }
