@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    Christian. Husband. Father. Reader. Writer. Programmer. <b>Brian Koser</b> jug­gles many hats.
    When he’s not mix­ing metaphors, you might find him play­ing a mod­ern board game, ex­plain­ing why you’re wrong,
    or writ­ing in the third per­son.
</p>
<p>
    <b>Melissa Koser</b> is a house­wife by day, tak­ing care of a baby and keep­ing a house in or­der. By night, she’s a 
    house­wife tak­ing care of a baby and keep­ing her house and hus­band in or­der. In the midst of all that, she still 
    finds time to nerd over games, books, and TV shows.
</p>
<p>
    <b>Lydia Koser</b> is the oldest little girl in the house. She likes books, games, and everything purple. When she 
    grows up she's going to be a doctor, a dentist, a barber, a baker, and a pilot.
</p>
<p>
    <b>Amber Koser</b> is the baby of the family, but we haven't told her yet. She loves giraffes, tickles, and funny faces.
</p>