@page
@model AboutModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    Christian. Husband. Father. Reader. Writer. Programmer. <b>Brian</b> jug­gles many hats.
    When he’s not mix­ing metaphors, you might find him play­ing a mod­ern board game, ex­plain­ing why you’re wrong,
    or writ­ing in the third per­son.
</p>
<p>
    <b>Melissa</b> is a house­wife by day, tak­ing care of a baby and keep­ing a house in or­der. By night, she’s a 
    house­wife tak­ing care of a baby and keep­ing her house and hus­band in or­der. In the midst of all that, she still 
    finds time to nerd over games, books, and TV shows.
</p>
<p>
    <b>Lydia</b> is the oldest little girl in the house. She likes books, games, and everything purple. When she 
    grows up she's going to be a doctor, a dentist, a barber, a baker, and a pilot.
</p>
<p>
    Always keep an eye on <b>Amber</b>. She’s the adventurous one and likes running and climbing where she shouldn’t.
</p>
<p>
    <b>Penny</b> is the newest Koser. She’s cool.
</p>