@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<p>Hi, I'm Brian. This is where I, Melissa, Lydia, Amber, and Penny keep our digital stuff. It's needed a new architecture and design for a while. 2018 was almost all behind-the-scenes work; 2019 will include more visible improvements.

<p>We're also going to start writing again (<a href="/all">everything we've written in the past is available</a>).

<p>Everything for our podcast is still at the <a href="http://tto.koser.us">Ten to One site</a>, although eventually it will be available here as well. (That TTO site also needs a redesign!)

<p>Later,<br /> Brian 🖖🤘