@page "/article/{year:int}/{month:int}/{day:int}/{datePublishedID:int}/{slug?}"
@model Web.Pages.PostModel
@{
    ViewData["Title"] = "Post";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>@Model.Post.Title</h1>
