@page
@model StyleGuideModel
@{
    ViewData["Title"] = "Style Guide";
}

<h1>@ViewData["Title"]</h1>

<h2>Fonts</h2>

<h3>Concourse Black - site header</h3>
<div class="demo">
    <span class="h1" style="font-family:'ConcourseBlack';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse Light - page headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'ConcourseLight';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse Light (italics) - page headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'ConcourseLight'; font-style:italic;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse (bold) - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse'; font-weight:bold;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse (italic) - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse'; font-style:italic;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse (bold, italic) - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse'; font-weight:bold; font-style:italic;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Fira Mono - code</h3>
<div class="demo">
    <span class="h1" style="font-family:'FiraMono';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Open Sans - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero';">№</span>
</div>

<h3>Open Sans (bold) - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero'; font-weight:bold;">№</span>
</div>

<h3>Open Sans (italic) - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero'; font-style:italic;">№</span>
</div>

<h3>Open Sans (bold, italic) - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero'; font-weight:bold; font-style:italic;">№</span>
</div>

<h3>Open Sans Light - numero sign for headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansLightNumero';">№</span>
</div>

<h3>Open Sans Light (italic) - numero sign for headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansLightNumero'; font-style:italic;">№</span>
</div>

<h2>Ligatures</h2>
<!--todo: add ligatures-->

<h2>Colors</h2>
<h2>Headings</h2>
<div class="demo">
    <h1>Top-Level Header</h1>
    <h2>Second-Level Header</h2>
    <h3>Third-Level Header</h3>
    <h4>Fourth-Level Header</h4>
    <h5>Fifth-Level Header</h5>
    <h6>Sixth-Level Header</h6>

    <h1>Top Level Header</h1>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h2>Second-Level Header</h2>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h3>Third-Level Header</h3>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h4>Fourth-Level Header</h4>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h5>Fifth-Level Header</h5>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h6>Sixth-Level Header</h6>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>
</div>

<h2>Forms</h2>
<h3>Dropdown List</h3>
<div class="demo">
    <select>
        <option>Adams, Douglas</option>
        <option>Bradbury, Ray</option>
        <option>Simmons, Dan</option>
        <option>Stephenson, Neal</option>
    </select>
</div>

<div class="demo">
    <label for="demo-textarea">Textarea</label>
    <textarea id="demo-textarea" name="demo-textarea">Textarea</textarea>
</div>

<div class="demo">
    <label for="demo-button">Button</label>
    <input type="button" name="demo-button" id="demo-button" />
</div>

<div class="demo">
    <label for="demo-checkbox">Checkbox</label>
    <input type="checkbox" name="demo-checkbox" id="demo-checkbox" />
</div>

<div class="demo">
    <label for="demo-color">Color</label>
    <input type="color" name="demo-color" id="demo-color" />
</div>

<div class="demo">
    <label for="demo-date">Date</label>
    <input type="date" name="demo-date" id="demo-date" />
</div>

<div class="demo">
    <label for="demo-datetime-local">Datetime Local</label>
    <input type="datetime-local" name="demo-datetime-local" id="demo-datetime-local" placeholder="Datetime Local" />
</div>

<div class="demo">
    <label for="demo-email">Email</label>
    <input type="email" name="demo-email" id="demo-email" placeholder="Email" />
</div>

<div class="demo">
    <label for="demo-file">File</label>
    <input type="file" name="demo-file" id="demo-file" />
</div>

<div class="demo">
    <label for="demo-image">Image</label>
    <input type="image" name="demo-image" id="demo-image" />
</div>

<div class="demo">
    <label for="demo-month">Month</label>
    <input type="month" name="demo-month" id="demo-month" placeholder="Month" />
</div>

<div class="demo">
    <label for="demo-number">Number</label>
    <input type="number" name="demo-number" id="demo-number" />
</div>

<div class="demo">
    <label for="demo-password">Password</label>
    <input type="password" name="demo-password" id="demo-password" placeholder="password" />
</div>

<div class="demo">
    <label for="demo-radio">Radio</label>
    <input type="radio" name="demo-radio" id="demo-radio" />
</div>

<div class="demo">
    <label for="demo-range">Range</label>
    <input type="range" name="demo-range" id="demo-range" />
</div>

<div class="demo">
    <label for="demo-reset">Reset</label>
    <input type="reset" name="demo-reset" id="demo-reset" />
</div>

<div class="demo">
    <label for="demo-search">Search</label>
    <input type="search" name="demo-search" id="demo-search" placeholder="Search" />
</div>

<div class="demo">
    <label for="demo-submit">Submit</label>
    <input type="submit" name="demo-submit" id="demo-submit" />
</div>

<div class="demo">
    <label for="demo-tel">Tel</label>
    <input type="tel" name="demo-tel" id="demo-tel" placeholder="Tel" />
</div>

<div class="demo">
    <label for="demo-text">Text</label>
    <input type="text" name="demo-text" id="demo-text" placeholder="Text" />
</div>

<div class="demo">
    <label for="demo-time">Time</label>
    <input type="time" name="demo-time" id="demo-time" />
</div>

<div class="demo">
    <label for="demo-url">Url</label>
    <input type="url" name="demo-url" id="demo-url" placeholder="Url" />
</div>

<div class="demo">
    <label for="demo-week">Week</label>
    <input type="week" name="demo-week" id="demo-week" placeholder="Week" />
</div>

<h2>Lists</h2>
<div class="demo">
    <ol>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ol>

    <ul>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ul>

    <p>A paragraph followed by an ordered list and an unordered list.</p>
    <ol>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ol>
    <p>That was the ordered list. Next will be the unordered list.</p>
    <ul>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ul>

    <ol>
        <li>First item</li>
        <li>
            Second item
            <ol>
                <li>Nested ordered list</li>
                <li>Another item</li>
            </ol>
        </li>
        <li>Last item</li>
    </ol>

    <ul>
        <li>First item</li>
        <li>
            Second item
            <ul>
                <li>Nested unordered list</li>
                <li>Another item</li>
            </ul>
        </li>
        <li>Last item</li>
    </ul>
</div>

<h2>Phrasing</h2>
<div class="demo">
    <p>This sentence has normal text.</p>
    <p><strong>This sentence has strong text.</strong></p>
    <p><em>The sentence has emphasized text.</em></p>
    <p>This sentence has <a href="/">a hyperlink</a> in the middle of it.</p>
    <p>Subscript example: glucose is C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>.</p>
    <p>Superscript example: on the 17<sup>th</sup> day of Christmas, my true love gave me a fish.</p>
    <small>This is small text.</small>
    <p>A regular abbreviation <abbr>HTML</abbr> and a small caps abbreviation <abbr class="smallcaps">HTML</abbr></p>
    <p><kbd><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Del</kbd></kbd></p>
</div>

<h2>Typography</h2>
<div class="demo">
    <p class="constant-line-breaks">This paragraph has constant line breaks. Perspiciatis voluptatem deserunt consequatur numquam tenetur accusantium. Nesciunt qui sint et repellat rerum eum quos illo. Dolores incidunt quisquam nihil. Est molestias repellat minima possimus corporis accusantium qui. Similique et rerum in ullam. Impedit assumenda id corporis aliquam sapiente quo.</p>
    <p>Digits without tracking: <span>1234567890</span></p>
    <p>Digits with tracking: <span class="digit-string">1234567890</span></p>
    <p>No fraction: 1/2</p>
    <p>Fraction: <span class="fraction">1/2</span></p>
    <p>lower case</p>
    <p class="uppercase">uppercase</p>
    <p class="small-caps">small caps</p>
    <p class="text-glow" style="background-color: black; color: white;">This text is glowing</p>
</div>

<h2>Horizontal Rule</h2>
<div class="demo">
    <p>This is a test of the horizontal rule.</p>
    <hr>
    <p>Does the horizontal rule display correctly?</p>
</div>

<h2>Quotes</h2>
<div class="demo">
    <p>This is an inline quote: <q>Imitating paper on a computer screen is like tearing the wings off a 747 and using it as a bus on the highway.</q></p>
    <blockquote>
        This is blockquote text. Blockquotes are for long quotes from other sources that should be their own paragraph.
    </blockquote>
</div>

<h2>Code</h2>
<div class="demo">
    <p><code>function inlineCode => { a* = li1[0]; }</code></p>
    <p>
        <pre><code>function multilinecode1 () {
    return a + g.toString() + "asdf";
}</code></pre>
    </p>
</div>

<h2>Table</h2>
<div class="demo">
    <table>
        <thead>
            <tr>
                <th>Author</th>
                <th>Book</th>
                <th>Century</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ray Bradbury</td>
                <td>Something Wicked This Way Comes</td>
                <td>20th</td>
            </tr>
            <tr>
                <td>Dan Simmons</td>
                <td>Hyperion</td>
                <td>21st</td>
            </tr>
            <tr>
                <td>Homer</td>
                <td>The Iliad</td>
                <td>7th</td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Figures</h2>
<div class="demo">
    <p>This is a paragraph before the figure, which includes an image and a caption.</p>
    <figure>
        <img src="~/images/logo.svg" />
        <figcaption>The kodex site logo</figcaption>
    </figure>
    <p>This is a paragraph after the figure, which includes an image and a caption.</p>
</div>

<h2>Longform</h2>
<!-- todo: typography -->

<h2>Article</h2>
<!-- todo: typography -->
