@page
@model StyleGuideModel
@{
    ViewData["Title"] = "Style Guide";
}

<h1>@ViewData["Title"]</h1>

<h2>Fonts</h2>

<h3>Concourse Black - site header</h3>
<div class="demo">
    <span class="h1" style="font-family:'ConcourseBlack';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse Light - page headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'ConcourseLight';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse Light (italics) - page headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'ConcourseLight'; font-style:italic;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse (bold) - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse'; font-weight:bold;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse (italic) - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse'; font-style:italic;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Concourse (bold, italic) - body</h3>
<div class="demo">
    <span class="h1" style="font-family:'Concourse'; font-weight:bold; font-style:italic;">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Fira Mono - code</h3>
<div class="demo">
    <span class="h1" style="font-family:'FiraMono';">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>abcdefghijklmnopqrstuvwxyz<br>!@@#$%^&*()[]{}<>;:'",./?</span>
</div>

<h3>Open Sans - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero';">№</span>
</div>

<h3>Open Sans (bold) - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero'; font-weight:bold;">№</span>
</div>

<h3>Open Sans (italic) - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero'; font-style:italic;">№</span>
</div>

<h3>Open Sans (bold, italic) - numero sign</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansNumero'; font-weight:bold; font-style:italic;">№</span>
</div>

<h3>Open Sans Light - numero sign for headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansLightNumero';">№</span>
</div>

<h3>Open Sans Light (italic) - numero sign for headers</h3>
<div class="demo">
    <span class="h1" style="font-family:'OpenSansLightNumero'; font-style:italic;">№</span>
</div>

<h2>Ligatures</h2>
<!--todo: add ligatures-->

<h2>Colors</h2>
<h2>Headings</h2>
<div class="demo">
    <h1>Top-Level Header</h1>
    <h2>Second-Level Header</h2>
    <h3>Third-Level Header</h3>
    <h4>Fourth-Level Header</h4>
    <h5>Fifth-Level Header</h5>
    <h6>Sixth-Level Header</h6>

    <h1>Top Level Header</h1>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h2>Second-Level Header</h2>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h3>Third-Level Header</h3>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h4>Fourth-Level Header</h4>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h5>Fifth-Level Header</h5>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>

    <h6>Sixth-Level Header</h6>
    <p>This paragraph is here to demonstrate how a heading and paragraph are displayed when such a heading is directly succeeded by a paragraph. The main point to note is the amount of whitespace between the two elements.</p>
</div>

<h2>Forms</h2>
<h3>Dropdown List</h3>
<div class="demo">
    <select>
        <option>Adams, Douglas</option>
        <option>Bradbury, Ray</option>
        <option>Simmons, Dan</option>
        <option>Stephenson, Neal</option>
    </select>
</div>

<h2>Lists</h2>
<div class="demo">
    <ol>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ol>

    <ul>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ul>

    <p>A paragraph followed by an ordered list and an unordered list.</p>
    <ol>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ol>
    <p>That was the ordered list. Next will be the unordered list.</p>
    <ul>
        <li>Adams</li>
        <li>Bradbury</li>
        <li>Simmons</li>
        <li>Stephenson</li>
    </ul>
</div>

<h2>Phrasing</h2>
<div class="demo">
    <p>This sentence has normal text.</p>
    <p><strong>This sentence has strong text.</strong></p>
    <p><em>The sentence has emphasized text.</em></p>
    <p>This sentence has <a href="/">a hyperlink</a> in the middle of it.</p>
    <p>Subscript example: glucose is C<sub>6</sub>H<sub>12</sub>O<sub>6</sub>.</p>
    <p>Superscript example: on the 17<sup>th</sup> day of Christmas, my true love gave me a fish.</p>
    <small>This is small text.</small>
    <p>A regular abbreviation <abbr>HTML</abbr> and a small caps abbreviation <abbr class="smallcaps">HTML</abbr></p>
</div>

<h2>Typography</h2>
<!-- todo: typography -->

<h2>Horizontal Rule</h2>
<div class="demo">
    <p>This is a test of the horizontal rule.</p>
    <hr>
    <p>Does the horizontal rule display correctly?</p>
</div>

<h2>Quotes</h2>
<!--todo:
    blockquotes
    quotes-->

<h2>Code</h2>
<div class="demo">
    <p><code>function inlineCode => { a* = li1[0]; }</code></p>
    <p>
        <pre><code>function multilinecode1 () {
        return a + g.toString() + "asdf";
}</code></pre>
    </p>
</div>

<h2>Table</h2>
<!-- todo: table -->

<h2>Figures</h2>
<!-- todo: typography -->

<h2>Longform</h2>
<!-- todo: typography -->

<h2>Article</h2>
<!-- todo: typography -->
