@page
@model StyleGuideModel
@{
    ViewData["Title"] = "Style Guide";
}

<h1>@ViewData["Title"]</h1>

<div class="live-demo">
    <h2>Fonts</h2>
</div>

<div class="live-demo">
    <h2>Colors</h2>
</div>

<div class="live-demo">
    <h2>Headings</h2>
</div>

<div class="live-demo">
    <h2>Lists</h2>
</div>

<div class="live-demo">
    <h2>Posts</h2>
    <!-- phrasing, hr, sectioning, longform (components), article (pages), typography (utilities) -->
</div>

<div class="live-demo">
    <h2>Table</h2>
</div>